# Python
__pycache__/
__pypackages__/
*.py[cod]
*$py.class

# Byte compiled
*.so
*.exe

# Editor
/.vscode

# Mac OS
.DS_Store

# Blender files
*.blend
*.blend1

# Large files
/models/motion_inbetweening/experiments/lafan1_context_model_release/*.pth
/models/motion_inbetweening/experiments/lafan1_context_model_release/*.pkl
/models/motion_inbetweening/experiments/lafan1_detail_model_release/*.pth
/models/motion_inbetweening/experiments/lafan1_detail_model_release/*.pkl
/models/motion_inbetweening/datasets/lafan1/*.bvh
/models/motion_inbetweening/datasets/lafan1/*.pkl
/models/motion_inbetweening/output/*.bvh
